flows.txt
[{"id":"c83d6a78.2c2cf8","type":"tab","label":"Object Detection","disabled":false,"info":""},{"id":"bff5f8ab.470a68","type":"tab","label":"Chart Intro","disabled":false,"info":""},{"id":"3e5670e8.09c77","type":"tab","label":"Dashboard Intro","disabled":false,"info":""},{"id":"f6bae53f.42d1e8","type":"tab","label":"Plot Object Distance","disabled":false,"info":""},{"id":"f3d189dd.408798","type":"tab","label":"Store Sensor Data","disabled":false,"info":""},{"id":"78dc15e8.e83c0c","type":"ui_tab","z":"","name":"ESP32S Workshop","icon":"dashboard","order":3},{"id":"1d72c4f8.0f24bb","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"18560b7b.69b335","type":"ui_tab","z":"","name":"Chart Examples","icon":"fa-area-chart","order":1},{"id":"9e711b70.91cce8","type":"ui_tab","z":"","name":"Historical Data","icon":"fa-area-chart","order":5},{"id":"49ff1faf.a1a1b","type":"ui_tab","z":"","name":"ESP32S Interval","icon":"dashboard","order":4},{"id":"eea5bddd.b6826","type":"ui_tab","z":"","name":"ESP32S Workshop","icon":"dashboard","order":3},{"id":"f59d8535.f7abc8","type":"ui_tab","z":"","name":"Chart Examples","icon":"fa-area-chart","order":1},{"id":"45f4240c.9dcbdc","type":"ui_tab","z":"","name":"Historical Data","icon":"fa-area-chart","order":5},{"id":"ec94628f.ebeb6","type":"ui_group","z":"3e5670e8.09c77","name":"Dashboard Controls","tab":"166a600b.7e69","order":2,"disp":true,"width":"6"},{"id":"ffb4629d.c5b69","type":"ui_group","z":"","name":"Start / Stop","tab":"166a600b.7e69","order":1,"disp":true,"width":"6"},{"id":"166a600b.7e69","type":"ui_tab","z":"3e5670e8.09c77","name":"Introduction","icon":"dashboard","order":2},{"id":"f1d39ce.778226","type":"ui_group","z":"","name":"ESP32S Sensors","tab":"d66c0b9e.6051b8","disp":true,"width":"6","collapse":false},{"id":"d66c0b9e.6051b8","type":"ui_tab","z":"","name":"ESP32S Workshop","icon":"dashboard","order":3},{"id":"f3fe1ea4.b4fb3","type":"ui_group","z":"","name":"Line Chart Examples","tab":"2aca6569.db454a","disp":true,"width":"8"},{"id":"35f18b64.5debe4","type":"ui_group","z":"","name":"Bar Chart Examples","tab":"2aca6569.db454a","order":3,"disp":true,"width":"8"},{"id":"abb8a6db.c2e778","type":"ui_group","z":"","name":"Pie Chart Examples","tab":"2aca6569.db454a","order":2,"disp":true,"width":"6"},{"id":"2aca6569.db454a","type":"ui_tab","z":"","name":"Chart Examples","icon":"fa-area-chart","order":1},{"id":"4251a502.097efc","type":"cloudant","z":null,"host":"","name":""},{"id":"21d1110c.5bf76e","type":"change","z":"c83d6a78.2c2cf8","name":"left","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.left","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":279,"y":180,"wires":[["aa0f2841.253418"]]},{"id":"3e8b5798.af37a8","type":"debug","z":"c83d6a78.2c2cf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":251,"y":109,"wires":[]},{"id":"50beb672.64cb88","type":"change","z":"c83d6a78.2c2cf8","name":"center","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.center","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":296,"y":278,"wires":[["e2c937b0.8351b8"]]},{"id":"ef6e0f98.07163","type":"change","z":"c83d6a78.2c2cf8","name":"right","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.center","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":318,"y":371,"wires":[["e869db41.7757f8"]]},{"id":"f9b04153.678f","type":"ibmiot in","z":"c83d6a78.2c2cf8","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"ESP32S","eventType":"status","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":"","allCommands":"","allFormats":"","qos":0,"x":67,"y":202,"wires":[["3e8b5798.af37a8","21d1110c.5bf76e","50beb672.64cb88","ef6e0f98.07163"]]},{"id":"aa0f2841.253418","type":"debug","z":"c83d6a78.2c2cf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":413,"y":149,"wires":[]},{"id":"e2c937b0.8351b8","type":"debug","z":"c83d6a78.2c2cf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":425,"y":235,"wires":[]},{"id":"e869db41.7757f8","type":"debug","z":"c83d6a78.2c2cf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":479,"y":356,"wires":[]},{"id":"80e29803.9f5368","type":"inject","z":"3e5670e8.09c77","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":110,"y":140,"wires":[["a5c90a87.dba6c8"]]},{"id":"a2e63011.fa4a6","type":"function","z":"3e5670e8.09c77","name":"Random #s","func":"if( msg.payload === false ) {\n    return null;\n}\nmsg.payload = Math.round(Math.random()*100);\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":60,"wires":[["a3075b32.3838c8"]]},{"id":"1285b261.ef90fe","type":"ui_chart","z":"3e5670e8.09c77","name":"Chart","group":"ec94628f.ebeb6","order":1,"width":0,"height":0,"label":"Random #","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Querying Entropy","dot":false,"ymin":"0","ymax":"100","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"60","cutout":"","useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":350,"y":240,"wires":[[],[]]},{"id":"85b1ae6c.1f36a","type":"ui_gauge","z":"3e5670e8.09c77","name":"Gauge","group":"ec94628f.ebeb6","order":2,"width":0,"height":0,"gtype":"gage","title":"Gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":350,"y":280,"wires":[]},{"id":"2ec1f174.bc8b8e","type":"ui_slider","z":"3e5670e8.09c77","name":"","label":"Slider","group":"ec94628f.ebeb6","order":3,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"100","step":"","x":350,"y":320,"wires":[[]]},{"id":"1fc02d81.68a192","type":"ui_text","z":"3e5670e8.09c77","group":"ec94628f.ebeb6","order":4,"width":0,"height":0,"name":"","label":"Text","format":"{{msg.payload}}","layout":"row-spread","x":350,"y":360,"wires":[]},{"id":"a5c90a87.dba6c8","type":"ui_switch","z":"3e5670e8.09c77","name":"","label":"Switch","tooltip":"","group":"ffb4629d.c5b69","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":270,"y":140,"wires":[["a2e63011.fa4a6"]]},{"id":"d97556c7.1ee478","type":"ui_text","z":"3e5670e8.09c77","group":"ffb4629d.c5b69","order":1,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":270,"y":60,"wires":[]},{"id":"a6eb99b5.090b98","type":"inject","z":"3e5670e8.09c77","name":"Instructions","topic":"","payload":"Use the toggle switch to start / stop the generation of random numbers","payloadType":"str","repeat":"","crontab":"","once":true,"x":110,"y":60,"wires":[["d97556c7.1ee478"]]},{"id":"84fcb1f7.3f861","type":"ui_toast","z":"3e5670e8.09c77","position":"top right","displayTime":"5","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":790,"y":400,"wires":[]},{"id":"eff70f9b.d076d","type":"switch","z":"3e5670e8.09c77","name":"Warn on High Values","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"90","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":400,"y":400,"wires":[["d41de97e.58a768"]]},{"id":"d41de97e.58a768","type":"template","z":"3e5670e8.09c77","name":"Alert Msg","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Alert : Critical Value Detected {{payload}}","output":"str","x":600,"y":400,"wires":[["84fcb1f7.3f861"]]},{"id":"a3075b32.3838c8","type":"link out","z":"3e5670e8.09c77","name":"","links":["23c41aaa.996266"],"x":555,"y":140,"wires":[]},{"id":"23c41aaa.996266","type":"link in","z":"3e5670e8.09c77","name":"","links":["a3075b32.3838c8"],"x":95,"y":360,"wires":[["1285b261.ef90fe","85b1ae6c.1f36a","2ec1f174.bc8b8e","1fc02d81.68a192","eff70f9b.d076d"]]},{"id":"5be14db6.e8b734","type":"ibmiot in","z":"f6bae53f.42d1e8","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"ESP32S","eventType":"status","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":false,"allEvents":false,"allCommands":"","allFormats":"","qos":0,"x":80,"y":180,"wires":[["da595b45.1e0758","35ccc769.b35618","89f228cd.459418","f7f70097.9b6b1","b5f09dde.166b2"]]},{"id":"da595b45.1e0758","type":"debug","z":"f6bae53f.42d1e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":270,"y":110,"wires":[]},{"id":"35ccc769.b35618","type":"change","z":"f6bae53f.42d1e8","name":"Chart Left Object","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.Left","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":160,"wires":[["baaf8c33.54535"]]},{"id":"89f228cd.459418","type":"change","z":"f6bae53f.42d1e8","name":"Chart Center Object","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.Center","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":200,"wires":[["bddb80a7.98742"]]},{"id":"f7f70097.9b6b1","type":"switch","z":"f6bae53f.42d1e8","name":"Warn on Object Detected","property":"payload.d.temp","propertyType":"msg","rules":[{"t":"lt","v":"60","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":297,"y":369,"wires":[["54df5c56.5fb704"]]},{"id":"54df5c56.5fb704","type":"template","z":"f6bae53f.42d1e8","name":"Alert Msg","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Alert : Object Detected! {{payload.d.temp}}","output":"str","x":513,"y":378,"wires":[["fb16d9f8.ca9718"]]},{"id":"baaf8c33.54535","type":"ui_chart","z":"f6bae53f.42d1e8","name":"","group":"f1d39ce.778226","order":1,"width":0,"height":0,"label":"Left","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":460,"y":160,"wires":[[],[]]},{"id":"bddb80a7.98742","type":"ui_chart","z":"f6bae53f.42d1e8","name":"","group":"f1d39ce.778226","order":2,"width":0,"height":0,"label":"Center","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":460,"y":200,"wires":[[],[]]},{"id":"fb16d9f8.ca9718","type":"ui_toast","z":"f6bae53f.42d1e8","position":"top right","displayTime":"5","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":680,"y":250,"wires":[]},{"id":"b0a251ed.2db58","type":"ui_chart","z":"bff5f8ab.470a68","name":"","group":"f3fe1ea4.b4fb3","order":0,"width":0,"height":0,"label":"Single Line Plot","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":600,"y":120,"wires":[[],[]]},{"id":"61942254.df8b3c","type":"function","z":"bff5f8ab.470a68","name":"Fill Single Chart Array","func":"var chart = [{\n    \"series\":[\"A\"],\n    \"data\":[[{\"x\":1504029632890,\"y\":5},\n             {\"x\":1504029633514,\"y\":8},\n             {\"x\":1504029634400,\"y\":3}]],\n    \"labels\":[\"\"]\n}];\nmsg.payload = chart;\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":120,"wires":[["b0a251ed.2db58","39fab5d2.5f631a"]]},{"id":"39fab5d2.5f631a","type":"debug","z":"bff5f8ab.470a68","name":"","active":true,"console":"false","complete":"false","x":590,"y":160,"wires":[]},{"id":"ea49a364.63e81","type":"comment","z":"bff5f8ab.470a68","name":"Sample Dashboard that plots various Chart types","info":"","x":250,"y":60,"wires":[]},{"id":"88b2e8b6.7a7cd8","type":"ui_chart","z":"bff5f8ab.470a68","name":"","group":"f3fe1ea4.b4fb3","order":0,"width":0,"height":0,"label":"Multiple Line Plots","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":610,"y":220,"wires":[[],[]]},{"id":"88cf0bd4.e013a8","type":"function","z":"bff5f8ab.470a68","name":"Fill Multiple Line Chart Array","func":"var chart = [  {\"series\":[\"A\",\"B\",\"C\"],\n                \"data\":[\n                    [{\"x\":1504029632890,\"y\":5},\n                     {\"x\":1504029636001,\"y\":4},\n                     {\"x\":1504029638656,\"y\":2}],\n                    [{\"x\":1504029633514,\"y\":6},\n                     {\"x\":1504029636622,\"y\":7},\n                     {\"x\":1504029639539,\"y\":6}],\n                    [{\"x\":1504029634400,\"y\":7},\n                     {\"x\":1504029637959,\"y\":9},\n                     {\"x\":1504029640317,\"y\":7}]\n                ],\n                \"labels\":[\"\"]}];\nmsg.payload = chart;\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":220,"wires":[["88b2e8b6.7a7cd8","8bff7b17.793158"]]},{"id":"8bff7b17.793158","type":"debug","z":"bff5f8ab.470a68","name":"","active":true,"console":"false","complete":"false","x":590,"y":260,"wires":[]},{"id":"a3cf2942.5ae148","type":"ui_chart","z":"bff5f8ab.470a68","name":"","group":"35f18b64.5debe4","order":0,"width":0,"height":0,"label":"Vertical Bar Chart","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":610,"y":540,"wires":[[],[]]},{"id":"62a97a95.cfd064","type":"inject","z":"bff5f8ab.470a68","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"x":130,"y":120,"wires":[["61942254.df8b3c"]]},{"id":"5dc9273a.005f58","type":"inject","z":"bff5f8ab.470a68","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"x":130,"y":220,"wires":[["88cf0bd4.e013a8"]]},{"id":"74158c97.7787a4","type":"inject","z":"bff5f8ab.470a68","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"x":130,"y":540,"wires":[["bed0432e.5b28a"]]},{"id":"bed0432e.5b28a","type":"function","z":"bff5f8ab.470a68","name":"Fill Bar Chart Array","func":"var bar={};\nbar.labels = [\"Q1 16\",\"Q2 16\",\"Q3 16\",\"Q4 16\",\"Q1 17\",\"Q2 17\",\"Q3 17\"];\nbar.series = ['Sales A', 'Sales B', 'Sales C', 'Sales D'];\n// An array of 4 arrays of 7 elements\nbar.data = [\n    [65, 59, 80, 81, 56, 55, 40],\n    [28, 48, 40, 19, 86, 27, 90],\n    [38, 28, 20, 49, 45, 60, 20],\n    [58, 18, 40, 29, 15, 30, 60]\n  ];\nreturn {payload:[bar]};","outputs":1,"noerr":0,"x":310,"y":540,"wires":[["a3cf2942.5ae148","471d6d1c.6a7264","dfb6f44d.179618"]]},{"id":"471d6d1c.6a7264","type":"debug","z":"bff5f8ab.470a68","name":"","active":true,"console":"false","complete":"false","x":590,"y":620,"wires":[]},{"id":"dfb6f44d.179618","type":"ui_chart","z":"bff5f8ab.470a68","name":"","group":"35f18b64.5debe4","order":0,"width":0,"height":0,"label":"Horizontal Bar Chart","chartType":"horizontalBar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":619.0908813476562,"y":580,"wires":[[],[]]},{"id":"5ef1278d.56f448","type":"ui_chart","z":"bff5f8ab.470a68","name":"","group":"abb8a6db.c2e778","order":1,"width":0,"height":0,"label":"Pie Chart","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":580,"y":320,"wires":[[],[]]},{"id":"de9ebebf.d3bcd","type":"function","z":"bff5f8ab.470a68","name":"Fill Pie Chart Array","func":"var pie={};\npie.labels = [\"Geo1\",\"Geo2\",\"Geo3\",\"Geo4\",\"Geo5\"];\npie.series = ['Sales A', 'Sales B', 'Sales C', 'Sales D'];\npie.data =   [ [16, 27, 42, 65, 89] ];\n//return {payload:[pie]};\n\nvar pie={ \"labels\" : [\"Geo1\",\"Geo2\",\"Geo3\",\"Geo4\",\"Geo5\"],\n          \"series\" : ['Sales A', 'Sales B', 'Sales C', 'Sales D'],\n          \"data\"   : [ [16, 27, 42, 65, 89] ]\n        };\nmsg.payload = [pie];\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":320,"wires":[["5ef1278d.56f448","cbf2be2.692cf4","cd6ddbc6.c68708","bc68b1fb.ddbbf","8cc8589a.a8c868"]]},{"id":"229b1d46.c6edc2","type":"inject","z":"bff5f8ab.470a68","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"x":130,"y":320,"wires":[["de9ebebf.d3bcd"]]},{"id":"cbf2be2.692cf4","type":"debug","z":"bff5f8ab.470a68","name":"","active":true,"console":"false","complete":"false","x":590,"y":480,"wires":[]},{"id":"cd6ddbc6.c68708","type":"ui_chart","z":"bff5f8ab.470a68","name":"","group":"abb8a6db.c2e778","order":3,"width":0,"height":0,"label":"Polar Area Chart","chartType":"polar-area","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":610,"y":400.9090881347656,"wires":[[],[]]},{"id":"8cc8589a.a8c868","type":"ui_chart","z":"bff5f8ab.470a68","name":"","group":"abb8a6db.c2e778","order":4,"width":0,"height":0,"label":"Radar Chart","chartType":"radar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":590,"y":440,"wires":[[],[]]},{"id":"bc68b1fb.ddbbf","type":"ui_chart","z":"bff5f8ab.470a68","name":"","group":"abb8a6db.c2e778","order":2,"width":0,"height":0,"label":"Donut Chart","chartType":"pie","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"40","useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":590,"y":360,"wires":[[],[]]},{"id":"b5f09dde.166b2","type":"change","z":"f6bae53f.42d1e8","name":"Chart Right Object","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.Right","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":287,"y":269,"wires":[["77ae2a1c.314a04"]]},{"id":"77ae2a1c.314a04","type":"ui_chart","z":"f6bae53f.42d1e8","name":"","group":"f1d39ce.778226","order":2,"width":0,"height":0,"label":"Right","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":466,"y":264,"wires":[[],[]]},{"id":"8bca1603.29ba38","type":"function","z":"f3d189dd.408798","name":"Format Time Series DB record","func":"msg.payload = {\n        time:     new Date().getTime(),\n        Left:     msg.payload.d.Left,\n        Center: msg.payload.d.Center,\n        Right:  msg.payload.d.Right\n    } ;\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":100,"wires":[["6c71813e.897c7","634625b5.c4063c"]]},{"id":"6c71813e.897c7","type":"debug","z":"f3d189dd.408798","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":510,"y":70,"wires":[]},{"id":"d5a45e64.69d0d","type":"ibmiot in","z":"f3d189dd.408798","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"ESP32S","eventType":"status","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":false,"allEvents":false,"allCommands":"","allFormats":"","qos":0,"x":70,"y":100,"wires":[["8bca1603.29ba38"]]},{"id":"634625b5.c4063c","type":"cloudant out","z":"f3d189dd.408798","name":"","cloudant":"4251a502.097efc","database":"Environment Mapping & Training","service":"_ext_","payonly":true,"operation":"insert","x":581,"y":132,"wires":[]}]